<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body class="body">
    <%- include('../partials/header.ejs') %>

    <main>
      <div class="auto-container">
        <%- include('../partials/top-block-back.ejs', { label:`Go Back to
        Account Type Selection`, route:`/auth/register`}) %>
        <div class="section">
          <div class="p-2">
            <div class="mb-10 text-center">
              <h1 class="h1 text-primary">Student Register</h1>
            </div>

            <%- include('../partials/account-credential.ejs') %>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
