<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body class="body">
    <%- include('../partials/header-special.ejs') %> <%-
    include('../partials/nav-admin.ejs') %>
    <div class="auto-container">
      <%- include('../partials/top-block-back.ejs', { label:`Back`,
      route:`/home`}) %>
      <section class="section flex flex-col items-center justify-center">
        <!-- Learning accounts -->
        <div class="mt-10">
          <div>
            <h1
              class="h1 my-3 mb-5 from-violet-700 to-purple-400 text-center text-5xl"
            >
              Accounts
            </h1>
          </div>

          <div
            class="sm: mt-10 flex flex-col flex-wrap items-center justify-center gap-3 border-t py-6 sm:flex-row"
          >
            <% if (accounts.length > 0) { %> <% accounts.forEach(account => { %>

            <div class="single delete group">
              <div
                class="h-70 relative inline-block h-full w-60 transform-gpu rounded-lg border px-4 py-5 shadow-sm transition-all duration-150 group-hover:scale-105 group-hover:shadow-lg"
              >
                <div
                  class="flex h-20 w-full items-center justify-center rounded-lg bg-gray-50"
                >
                  Image
                </div>
                <div
                  class="absolute top-3 right-3 hidden ease-in-out group-hover:flex group-hover:gap-1"
                >
                  <a
                    class="delete rounded-full bg-violet-50 p-3 text-gray-600 hover:cursor-pointer hover:bg-violet-200"
                    data-doc="<%= account._id %>"
                  >
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                          clip-rule="evenodd"
                        /></svg
                    ></span>
                  </a>
                </div>

                <div class="mt-5">
                  <p class="font-bold text-primary">
                    <%= `${account.familyName}, ${account.firstName}` %>
                  </p>
                  <p class="text-sm">Grade <%= account.gradeLevel %></p>
                  <p class="text-sm"><%= account.school %></p>
                </div>
              </div>
            </div>
            <% }) %> <% } else { %>
            <p class="py-6 text-center">No accounts created.</p>
            <% } %>
          </div>
        </div>
      </section>

      <script src="/js/accounts/index.js"></script>
    </div>
  </body>
</html>
