<section class="flex w-full justify-between">
  <div class="w-full">
    <h3 class="h3 pb-10">Learning Resource</h3>
    <div>
      <form class="form" action="./save<%= locals.resource ? "?_method=PUT"
          : "" %>" method="POST">
        <input type="text" name="_id" value="<%= user._id  %>" hidden />
        <label for="title">Title</label>
        <input
          class="form__field"
          type="text"
          name="title"
          value="<% if (locals.resource) { %><%= resource.title %><% } %>"
        />
        <label for="subtitle">Description</label>
        <input
          class="form__field"
          type="text"
          name="subtitle"
          value="<% if (locals.resource) { %><%= resource.subtitle %><% } %>"
        />
        <label for="owner" hidden>Owner</label>
        <input
          class="form__field"
          type="text"
          name="owner"
          hidden
          value="<%= user.email  %>"
        />

        <textarea
          class="row-span-1 hidden bg-gray-100"
          name="body"
          id="htmlContent"
          cols="10"
          rows="10"
        >
        
      <% if (locals.resource) { %>
           <%= resource.body %>  
          <% } %>
      
      </textarea
        >

        <div class="col-span-4 flex justify-end">
          <button class="button px-16">Save</button>
        </div>
      </form>
    </div>
  </div>

  <!-- App Views -->
  <% if (!locals.resource) { %>
  <div class="h-[32rem] w-[375px] rounded-xl pb-10">
    <h3 class="h3 pb-10">Students' App Preview</h3>
    <div
      class="h-full w-full scale-90 resize overflow-x-hidden rounded-xl bg-gray-200 py-6 px-6"
      id="contentArea"
      contenteditable="true"
    ></div>
  </div>
  <% } %>
</section>
