<section class="flex w-full justify-between">
  <div class="w-full">
    <h3 class="h3 pb-10">Learning Resource</h3>

    <div>
      <form id="learningResourceForm" class="form" action="/resource/save<%= locals.resource ? "?_method=PUT"
          : "" %>" method="POST">

        <% if (locals.resource) { %>
          <label for="_id">Resource ID</label>
          <input class="form__field form__field--disabled" type="text" name="_id" value="<%= resource._id %>" readonly />
        <% } %>

        <label for="title">Title</label>
        <input
          class="form__field"
          type="text"
          name="title"
          value="<% if (locals.resource) { %><%= resource.title %><% } %>"
          required
        />

        <label for="subtitle">Subtitle</label>
        <input
          class="form__field"
          type="text"
          name="subtitle"
          value="<% if (locals.resource) { %><%= resource.subtitle %><% } %>"
          required
        />

        <label for="owner" readonly>Owner</label>
        <input
          class="form__field form__field--disabled"
          type="text"
          name="owner"
          readonly
          value="<%= user.firstName + " " + user.middleName[0] + ". " + user.familyName  %>"
          required
        />

        <label for="ownerId" hidden>Owner</label>
        <input
          class="form__field form__field--disabled"
          type="text"
          name="ownerId"
          hidden
          value="<%= user._id  %>"
          required
        />

        <label for="pages">Pages</label>
        <input
          id="pages"
          class="form__field form__field--disabled"
          type="text"
          name="pages"
          value="<% if (locals.resource) { %><%= resource.pages %><% } %>"
          readonly
          required
        />
        <% if (!locals.resource) { %>

        <label for="collectibles">Collectibles</label>
        <select id="collectibleCount" class="form__field js-collectible-selector"  >
          <option class="" value="" disabled selected hidden>None</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
          <% } else { %>
                    <label for="collectibles">Collectibles ID</label>
        <input
          class="form__field form__field--disabled"
          type="text"
          name="collectibles"
          value="<% if (locals.resource) { %><%= resource.collectibles.join(", ") %><% } %>"
          readonly
          required
        />
          <% } %>

        <div id="collectibleContainer"></div>

        <textarea
          class="row-span-1 hidden bg-gray-100"
          name="body"
          id="htmlContent"
          cols="10"
          rows="10"
          required
        >
        
      <% if (locals.resource) { %>
           <%= resource.body %>  
          <% } %>
      
      </textarea
        >

          <% if (locals.resource) { %>
           <p class="text-muted text-sm px-10">Note: Some resource fields are restricted for editing. It's not a bug, but a feature 😉 <br /> — Love from The GoGamify Team /p>
          <% } %>
        <div class="col-span-4 flex justify-end">
          <button id="publishBtn" class="button px-16 button--cta">Publish</button>
        </div>
      </form>
    </div>
  </div>

  <!-- App Views -->
  <% if (!locals.resource) { %>
  <div class="h-[32rem] w-[375px] rounded-xl ml-10 mb-10">
    <h3 class="h3">App Preview</h3>
    <div
      class="h-full w-full scale-90 resize overflow-x-hidden rounded-xl bg-gray-200 py-6 px-6"
      id="contentArea"
      contenteditable="true"
    ></div>
  </div>
  <% } %>
</section>
