<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>

    <!-- nav -->
    <nav id="main-nav">
      <div class="nav__container">
        <ul class="nav__list">
          <li class="nav__list__item">
            <a
              class="button nav__button nav__button--active group"
              href="../journey/journey.html"
            >
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-route button__icon button__icon--active"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <desc>
                    Download more icon variants from
                    https://tabler-icons.io/i/route
                  </desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <circle cx="6" cy="19" r="2"></circle>
                  <circle cx="18" cy="5" r="2"></circle>
                  <path
                    d="M12 19h4.5a3.5 3.5 0 0 0 0 -7h-8a3.5 3.5 0 0 1 0 -7h3.5"
                  ></path>
                </svg>
              </span>
              <span class="button__span__label">Journey</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a
              class="button nav__button group"
              href="../community/community.html"
            >
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-building-community button__icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <desc>
                    Download more icon variants from
                    https://tabler-icons.io/i/building-community
                  </desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8"
                  ></path>
                  <line x1="13" y1="7" x2="13" y2="7.01"></line>
                  <line x1="17" y1="7" x2="17" y2="7.01"></line>
                  <line x1="17" y1="11" x2="17" y2="11.01"></line>
                  <line x1="17" y1="15" x2="17" y2="15.01"></line>
                </svg>
              </span>
              <span class="button__span__label">Community</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a
              class="button nav__button group"
              href="../learning-module/module.html"
            >
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-file-star button__icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <desc>
                    Download more icon variants from
                    https://tabler-icons.io/i/file-star
                  </desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                  <path
                    d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
                  ></path>
                  <path
                    d="M11.8 16.817l-2.172 1.138a0.392 .392 0 0 1 -.568 -.41l.415 -2.411l-1.757 -1.707a0.389 .389 0 0 1 .217 -.665l2.428 -.352l1.086 -2.193a0.392 .392 0 0 1 .702 0l1.086 2.193l2.428 .352a0.39 .39 0 0 1 .217 .665l-1.757 1.707l.414 2.41a0.39 .39 0 0 1 -.567 .411l-2.172 -1.138z"
                  ></path>
                </svg>
              </span>
              <span class="button__span__label">Module</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a
              class="button nav__button group"
              href="../collections/collections.html"
            >
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-trophy button__icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <desc>
                    Download more icon variants from
                    https://tabler-icons.io/i/trophy
                  </desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <line x1="8" y1="21" x2="16" y2="21"></line>
                  <line x1="12" y1="17" x2="12" y2="21"></line>
                  <line x1="7" y1="4" x2="17" y2="4"></line>
                  <path d="M17 4v8a5 5 0 0 1 -10 0v-8"></path>
                  <circle cx="5" cy="9" r="2"></circle>
                  <circle cx="19" cy="9" r="2"></circle>
                </svg>
              </span>
              <span class="button__span__label">Collections</span>
            </a>
          </li>
          <li class="nav__list__item">
            <a class="button nav__button group" href="../profile/profile.html">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-user button__icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <desc>
                    Download more icon variants from
                    https://tabler-icons.io/i/user
                  </desc>
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                  <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                </svg>
              </span>
              <span class="button__span__label">Profile</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end of nav -->
    <div class="main__container">
      <section class="section flex flex-col items-center justify-center">
        <!-- Learning Resources -->
        <div class="mt-10">
          <div class="flex flex-col items-center justify-center gap-3">
            <h1 class="h1 text-4xl">Gamified Learning Resources</h1>
            <h2 class="text-center">Made by community for the community</h2>
            <a href="/resource/join" class="button button--cta py-5 px-6"
              >Join Journey using code</a
            >
          </div>

          <div
            class="flex flex-col flex-wrap items-start justify-center gap-5 border-t py-6 sm:mt-10 sm:flex-row"
          >
            <% if (resources.length > 0) { %> <% resources.forEach(resource => {
            %>

            <div class="single delete group hover:cursor-pointer">
              <form
                action="/student/p/resources"
                method="post"
                class="h-70 relative inline-block h-full w-60 transform-gpu rounded-lg border px-4 py-5 shadow-sm transition-all duration-150 group-hover:scale-105 group-hover:shadow-lg"
              >
                <input
                  type="text"
                  value="<%= resource._id %>"
                  name="code"
                  hidden
                />
                <div
                  class="flex h-20 w-full items-center justify-center rounded-lg bg-primary-muted"
                >
                  <div
                    class="flex h-20 w-full items-center justify-center rounded-lg bg-gradient-to-b from-primary via-primary-accent to-primary text-2xl font-bold text-foreground"
                  >
                    <%= resource.title.substring(0,2).toUpperCase() %>
                  </div>
                </div>
                <div
                  class="absolute top-3 right-3 hidden ease-in-out group-hover:flex group-hover:gap-1"
                >
                  <button
                    class="flex items-center justify-center gap-2 rounded-full bg-violet-50 py-2 px-4 text-gray-600 hover:cursor-pointer hover:bg-violet-200"
                    type="submit"
                  >
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-eye"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      >
                        <desc>
                          Download more icon variants from
                          https://tabler-icons.io/i/eye
                        </desc>
                        <path
                          stroke="none"
                          d="M0 0h24v24H0z"
                          fill="none"
                        ></path>
                        <circle cx="12" cy="12" r="2"></circle>
                        <path
                          d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7"
                        ></path></svg
                    ></span>
                    <span class="text-xs">Join</span>
                  </button>
                </div>

                <div class="mt-5">
                  <h3 class="font-bold text-primary"><%= resource.title%></h3>
                  <p class="text-sm text-primary"><%= resource.subtitle %></p>
                </div>
              </form>
            </div>
            <% }) %> <% } else { %>
            <p class="py-6 text-center">No Learning Resources Gamified yet.</p>
            <% } %>
          </div>
        </div>
      </section>

      <%- include('../partials/footer.ejs') %>
      <script src="/js/gamify/index.js"></script>
    </div>
  </body>
</html>
